body {
    margin: 0%;
    padding: 0%;

}
.navbar {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 100vw;
    background-color: rgb(255, 0, 255);
}
.frame {
    width: 100%;
    height: 100vh;
}
