body
{
    margin: 0%;
    padding: 0%;
    text-align: center;
}

#board {
    border: 1px solid #333;
    display: inline-block;
}

.col.hidden {
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #747474;
    border-bottom: 4px solid #747474;
    font-size: 0px;
}

.col {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    background: #bdbdbd;
    color: black;
    font-size: 20px;
    line-height: 50px;
    border-top: 4px solid #747474;
    border-left: 4px solid #747474;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.col:active{
    border-top: 4px solid #747474;
    border-left: 4px solid #747474;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.col.flagged {
    background-image: url("images/minesweeper/flag.png");
    background-repeat: no-repeat;
    background-position: center;
}

.col.bomb:not(.hidden) {
    background-image: url("images/minesweeper/bomb.png");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px;
}

.activebomb {
    background: #DC143C;/*background-image: url("Glint.png");*/
}

