/*general*/
* {
	margin: 0%;
	padding: 0%;
}
.align-center
{
	text-align: center;
}
div.parent-box
{
	position: relative;
	height: 500px;
	border: 6px solid #00afff;
}
div.pos-right
{
	position: absolute;
	right: 10px;
}
div.pos-left
{
	position: absolute;
	left: 10px;
}
span
{
	border: 2px solid #000000;
	border-radius: 15px;
	padding: 3px;
}
.display-none
{
	display: none;
}