body {
    margin: 0%;
    padding: 0%;
}

#grid-container {
    width: calc(100vw - 1px);
    height: calc(100vh - 1px);
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    position: relative;
}

.tile {
    cursor: pointer;
    position: relative;
    background-color: rgb(0, 0, 0);
}

.tile:hover {
    background-color: rgb(150, 150, 150);
}
